@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: MedievalSharp, sans-serif;
}

body{
  background: url(Images/CreationBackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 30px;
  margin-bottom: 30px;
}

.table input[type=number] {
    width: 100%;
  }
  
  .stat {
    width:50px;
    vertical-align:middle;
  }
  
  .btn {
    border-radius:5px;
  }
  
  .center-me {
    text-align:center;
  }
  
  .dice {
    vertical-align:middle;
  }
  
  .container {
    max-width:75%;
  }
  
  select {
    padding:4px;
    min-width:50px;
    vertical-align:middle;
  }

  .containerA img{
    width: 40%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  font-weight: 300;
  margin-top: 20px;
}